/* === 基本レイアウト === */

body{
    font-family: sans-serif;
    background: #eee;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    /* padding: 20px; */
}

.completed {
    text-decoration: line-through;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
}

.todo-text {
    flex: 1;
}


/* === 入力エリア === */

input {
    padding: 8px;
}

button {
    padding: 8px 12px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

/* === フィルター === */

.filters {
    margin-top: 10px;
}

button {
    margin-left: 10px;
}

.dragging {
    opacity: 0.5;
}

@media (max-width: 600px) {

    .container {
        padding: 15px;
    }

    #todo-input {
        width: 100%;
        margin-bottom: 10px;
    }

    #add-button,
    #clear-Button {
        width: 100%;
        margin-top: 8px;
    }

    .todo-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .todo-item input{
        width: auto;
    }

    .todo-text {
        flex: 1;
    }

    .todo-item button{
        width: auto;
    }
}